h1, p {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.jumbotron {
    height: 300px;
    background-size: 100%;
    background-image: url(../images/train.jpg);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}